body {
    background-color: #b4b4b4;
}

button {
    background-color: rgb(149, 149, 201);
}

button a {
    color: white;
    text-decoration: none;
}

header {
    color:rgb(149, 149, 201);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
}

.cards {
    justify-content: center;
    padding:50px 0;
}

.card {
    background-color:#ffffff;
   box-shadow: 0 0 10px #94A89A;
   border-radius: 20px;
   min-height: 250px;
}
.card-body h5 {
    color: rgb(149, 149, 201);
}

footer {
    background:#94A89A;
    color: #fff;
    padding:40px 20px 10px;
}