body {
    background-color: #b4b4b4;
}

button {
    background-color: #94A89A;
}

button a {
    color: white;
    text-decoration: none;
}


header {
    color:#94A89A;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
}

.form-container{
 display: flex;
 gap: 20px;
}

#flashcardForm {
    /* flex:1; */
    width:400px;
}


#flashcardContainer {
    /* flex: 2; */
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* gap: 20px; */
}
#flashcardContainer > div{
    width: 33%;
}

form {
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    width:300px;
    
}

input, textarea {
    width:100%;
    padding: 8px;
    margin:8px 0;
    border-radius:5px;
    border:1px solid #ccc;
}


.submition {
    width: 100%;
    padding: 10px;
    background:#94A89A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.flashcard {
  background: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  max-width: 300px;
}

.flashcard button {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background:#94A89A ;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}

footer {
    background:#94A89A;
    color: #fff;
    padding:40px 20px 10px;
}

@media (max-width:720px) {
    .form-container{
        flex-direction: column;
    }   
}